body {
  font-family: var(--mainFont);
}

.container h2{
  padding-bottom: 30px;
  color: var(--mainFontColor);
}



.header {
  padding: 57px 0px;
}

ul {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.header ul li:first-child a{
  color: var(--primary);
}

.header .bar {
  display: none;
}

.search button {
  border: none;
  outline: none;
  background-color: var(--primary);
  padding: 3px 8px;
}
.search input {
  border: none;
  outline: none;
  width: 200px;

  padding-left: 10px;
}
.search form {
  border: 2px solid #e7e6ef;
  border-radius: 5px;
}
.search img {
  width: 20px;
}

@media screen and (max-width: 1200px) {
  .header .list,
  .header .search {
    display: none;
  }

  .header .bar {
    display: block;
  }
}

/* End header */

/* Start hero section */
.hero{
  background-color: #F2F0FF;
  padding: 50px 0px;
}
.hero .row{
  gap: 40px;
}
.hero-content{
  flex: 1 0 60%;
  
  display: flex;
}


.hero-content img{
  position: relative;
  bottom: 100px;
  left: 80px;
  width: 75%;
}

.hero-text{
  width: 80%;
  align-items: flex-start;
}
.hero-image{
  flex: 1 0 30%;
  flex-basis: calc((100% - 40) / 2);
 
}
.hero-image img{
  width: 100%;
  /* height: 320px; */
}


@media screen and (max-width:1300px) {



.hero-content img{
  position: relative;
  bottom: 90px;
  left: 80px;
  width: 75%;
}

  
}

@media screen and (max-width:900px) {



.hero-content img{
  display: none;
}

  
}

@media screen and (max-width:572px){

  .hero-image{
 display: none;
}



.hero-content img{
  display: none;
}

}
/* End hero section */

/* start featured product */

.featured-product{
  padding: 50px 0px;
}

.featured-product .row{
  justify-content: flex-start;
  gap: 15px;
}
.featured-product h2{
  padding-bottom: 30px;
}


.sale{
  width: 60px;
  height: 60px;
  position: absolute;

  left: 0px;
  top: 0px;
}

.product{
  flex-grow: 1;
  flex-basis: 200px;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px #00000040;
   position: relative;

}

.product .img{
  background-color:#F6F7FB;
  padding: 30px;
  border-radius: 4px;
  
}

.product .img img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.product-info span{
  transition: all 0.9s;
}

.product .product-details{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
  transition: all 0.6s;
}
.product:hover .product-details{
  background-color: #2F1AC4;
  
}

.product:hover .product-details h3{
  color: #fff;
  
}

.product:hover .product-info span{
  color: #fff;
  
}
.product:hover .color-three{
  background-color: #FFEAC1;
}





.color{
  width: 14px;
  height: 4px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.color-one{
  background-color: #05E6B7;
}
.color-tow{
  background-color: #F701A8;
}
.color-three{
  background-color: #00009D;
  transition: all 0.6s;
}
/* end featured product  */

/* Start leatest product  */

.leatestProduct{

  padding: 50px 0px 100px 0px;
}



.leatestProduct-content{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 40px;
}

.leatestProduct-item{
  /* width: calc((100% - 50px) /3); */
  /* box-shadow: 0px 4px 4px #00000040; */
  flex-grow: 1;
 position: relative;
 transition: all 0.6s;

}
.leatestProduct-item:hover{
    box-shadow: 0px 4px 4px #00000040;

}

.leatestProduct-item:hover .img{
  background-color: #fff;
  /* border-bottom: 2px solid #EEEFFB ; */

   
}

.leatestProduct-item .img{
  background-color:#F6F7FB;
  padding: 30px;
  border-radius: 4px;
  /* transition: all 0.6s; */
  
}
.icons{
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  left: 3px;
 bottom: 100px;
}


.leatestProduct-item .img img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}
.leatestProduct-info{
  display: flex;
  justify-content: space-between;
}

.leatestProduct-des{
  color: #2F1AC4;
  font-size: 14px;
  border-bottom: 2px solid #EEEFFB;
}
.leatestProduct-info .price{
  font-size: 13px;
  color: #2F1AC4;
}

.leatestProduct-info .pre-price{
   font-size: 11px;
  color: #FB2448;
  text-decoration:line-through;
}

/* end leatest product  */

/* Start shpex offer  */

.shopBox{
  padding: 0px 0px 100px 0px; ;
}

.shopBox .row{
  gap: 50px;
}

.shopBox h2{
  padding-bottom: 30px;
  color: var(--mainFontColor);
}


.shopex-item{
  justify-content: center;
  flex-grow: 1;
  flex-basis: 200px;
  padding: 40px 10px 5px 10px;
   box-shadow: 2px 2px 2px 2px #7c797940;
   transition: all 0.5s;
}

.shopex-item:hover{
  box-shadow: 2px 2px 2px 2px var(--mainFontColor);
}

.shopex-item img{
  width: 40px;
  height: 40px;
}
.shopex-item h3{
  color: var(--mainFontColor);

}

.shopex-item p{
  color: #ACABC3;
  font-size: 13px;
}


/* End shopex item */

/* start trending product */
.trendingProductContunt{
  padding: 50px 0px;

}
.trendingProductContunt .row{

  gap: 20px;
}

.T-product-item{
  flex: 1 0 150px;
  box-shadow: 2px 2px 2px 2px #00000040;
  padding:5px 5px 25px 5px;
}

.T-product-item:hover{

  box-shadow: 2px 2px 2px 2px var(--mainFontColor);

}
.T-imag{
  margin: 10px;
  background-color: #F5F6F8;
  padding: 20px;

}

.T-imag img{
  width: 150px;
  height: 150px;
}

.T-content{
  padding: 20px 0px;
  color: var(--mainFontColor);
}

.price {

  margin-top: 15px;
  font-size: 13px;
  
}

.price .pre-price{
  text-decoration: line-through;
  padding-left: 20px;
  color: #ACABC3;
}


.firstOffer , .secondOffer {
    position: relative;
    padding: 20px 20px 100px 20px;
    
    width: 30%;
    flex: 1 0 200px;
    
}
.firstOffer {
  background-color: #FFF6FB;
}

 .secondOffer {
  
  background-color: #F5F6F8;

 }

 .firstOffer h3 , .secondOffer h3{
  color: var(--mainFontColor);
 }

 
 .firstOffer a , .secondOffer a{
  color: var(--primary);
  text-decoration: underline;
 }

.firstOffer-img {
    position: absolute;
    right: 5px;
    bottom: 5px;
   
}

.firstOffer img , .secondOffer img{
  width: 100px;
  height: 100px;
 
}

.moreOffer {
  align-items: center;
  flex-grow: 1 0 200px;
}
.OthertOfferItem{
  display: flex;
  justify-content: space-between;
  flex: 1 0 50px;
  gap: 10px;
  align-items: flex-start;
}

.other-image{
  background-color: #F5F6F8;
  padding: 2px;
}

.OthertOfferItem img{
  width: 30px;
  height: 30px;
  
}
.other-text{
  text-align: left;
  color:var(--mainFontColor);
  font-size: 12px;
  font-weight: bold;
}
/* end trending product */

.newsLetter{
  background-image: url(./img/bublic/newsleeter.webp);
  padding: 175px 0px 100px 0px;
  text-align: center;
}
.newsLetter h2{
  margin-bottom: 50px;
  color: var(--mainFontColor);
  font-size: 35px;
}

.shop-btn{
  transition: all 0.5s;
}
.shop-btn:hover{
background-color: var(--mainFontColor);
}

/* End newsLetter */

/* start client */
.clients{
  padding: 50px 0px;

}

.clients .row{
  flex-wrap: nowrap;
  
  gap: 15px;
  overflow-x: auto;
}

.clients .logo{
  width: calc((100% - 70px ) / 6);
}

.clients img{
  width:150px;
  height: 100px;
}
@media screen and (max-width:900px) {

  .clients .logo{
  width: calc((100% - 30px ) / 3);
}

@media screen and (max-width:572px){

   .clients .logo{
  width: calc((100% - 15px ) / 2);
}

  
}}
/* end client */

/* Start footer */
.footer {
  background-color: #eeeffb;
  padding: 50px 0;
  
}

.footer .row{
  gap: 10px;
}


.footer .left-side {
  gap: 35px;
  flex-grow: 1;
  /* width: calc((100% - 10px) / 2); */
}
.footer .right-side {
 
  /* width: 60%; */
  flex-grow: 2;
 
}

.footer .right-side .row{
  gap: 10px;
  align-items: flex-start;
}

.footer-item {
  gap: 10px;
  width: calc((100% - 20px) / 3);
}

.footer a,
.footer .address-info {
  color: #8a8fb9;
}

.footer input {
  padding: 10px 5px;
}

.footer .search form {
  border: 2px solid #e7e6ef;
  border-radius: 50px;
}

@media screen and (max-width:992px){
  .footer .left-side, .footer .right-side{
    width: 100%;
   margin-bottom: 30px;
  text-align: center;}

@media screen and (max-width:572px){
  .footer-item{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    
  }
}}
/* End footer */
